/* RecruitingCompanies.css */

.recruiting-container {
  padding: 2rem;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  max-width: 100%;
  box-sizing: border-box;
}

.recruiting-companies{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
  .recruiting-companies{
    flex-direction: column;
  }
}
@media (max-width: 798px) {
  .recruiting-companies{
    flex-direction: column;
  }
}

.recruiting-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #222;
}

.featured-card {
  width: 270px;
  border: 1px solid #004a7f;
  border-radius: 30px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.featured-header {
  background-color: #004a7f;
  color: white;
  text-align: center;
  padding: 15px 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.featured-body {
  background: url(https://rooster-prod-prod-core-bucket.s3.amazonaws.com/companyLogos/logo_glotelho.PNG_1620657093244) center/cover;
  height: 200px;
}



.company-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.company-card {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  flex-shrink: 0;
}
.company-card.comp1{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqVMWF9RUaK3hC-aZkgp_Sr0ai-oq_WDHErw&s) center/cover;
}
.company-card.comp2{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHv0wGACQ_3in7b_PYim25v33rjgsgzjBCYQ&s) center/cover;
}
.company-card.comp3{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkc-RoZExglHfW1cRGm8I66SCQ7M_n3tPXMg&s) center/cover;
}
.company-card.comp4{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt21xliV-f3333vAagjyMDhD2h-XNnxzW8DA&s) center/cover;
}
.company-card.comp5{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzrxtm8IJTYSgmmxpVcYM1cX1VUXv03EiZTg&s) center/cover;
}


.nav-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  padding: 0 1rem;
  transition: color 0.3s ease;
}

.nav-button:hover {
  background-color: white;
  color: #c3002f;
}

/* Responsive */
@media (max-width: 768px) {
  .recruiting-title {
    font-size: 2rem;
  }

  .company-card {
    width: 100px;
    height: 100px;
  }

  .featured-company {
    width: 90%;
    margin: 0 auto 2rem auto;
  }
}

@media (max-width: 480px) {
  .nav-button {
    font-size: 1.5rem;
  }

  .company-slider {
    gap: 0.5rem;
  }

  .company-card {
    width: 80px;
    height: 80px;
  }
}
